APP_NAME=StupnikBikeAdmin
APP_ENV=production
APP_KEY=base64:CHANGE_ME_GENERATE_REAL_APP_KEY
APP_DEBUG=false
APP_URL=https://admin.stupnik.bike
APP_DOMAIN=admin.stupnik.bike
ACME_EMAIL=bike@inmediusapp.eu

APP_LOCALE=hr
APP_FALLBACK_LOCALE=hr
APP_FAKER_LOCALE=hr_HR

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=sibinjbike
DB_USERNAME=sibinjbike
DB_PASSWORD=CHANGE_ME_STRONG_DB_PASSWORD
DB_ROOT_PASSWORD=CHANGE_ME_STRONG_ROOT_PASSWORD

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=.stupnik.bike
SESSION_SECURE_COOKIE=true

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=smtp
MAIL_SCHEME=smtps
MAIL_HOST=mail.inmediusapp.eu
MAIL_PORT=465
MAIL_USERNAME=bike@inmediusapp.eu
MAIL_PASSWORD=CHANGE_ME_MAIL_PASSWORD
MAIL_EHLO_DOMAIN=inmediusapp.eu
MAIL_FROM_ADDRESS=bike@inmediusapp.eu
MAIL_FROM_NAME=StupnikBike

VITE_APP_NAME=StupnikBikeAdmin
